# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs
logs
*.log
logs/*.log

# Build directory
dist/
build/

# Visual Studio Code settings
.vscode/
.vscode/*

# Mac system files
.DS_Store

# Other environment-specific files
.env
.env.local
.env.*.local

# Coverage directory for testing
coverage/

# Temporary files
*.tmp
*.temp